html,
body {
	padding: 0px;
	margin: 0px;
}

.title > * {
	width: auto;
	height: 10vh;
	line-height: 10vh;
}

h1 {
	padding: 0;
	margin: 0;
	text-align: center;
	text-decoration: underline;
	font-family: "Georgia",serif;
	color: #BCB29E;
}

hr {
	margin:0;
	padding:0;
}

.button-menu {
	width: auto;
	border-bottom: 2px solid;
	border-bottom-color: #d3d3d3;
	text-align: center;
}

button {
	align:center;
	padding: 3px 15px;
	margin-right: 5px;
	-webkit-border-radius: 5px;
	background-color: #BCB29E;
	font-family: "Impact", serif
}

.container {
	display: block;
	width: 760px;
	height: 760px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}



.boxes{
	display: inline-block;
	margin: 0px;
	float: left;
	padding: 0px;
	background-color: white;
	outline:1px dashed black;
}